<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Calculator Suite" parallel="methods" thread-count="2">
    <test name="Calculator Tests">
        <groups>
            <run>
                <include name="positive" />
                <exclude name="negative" />
            </run>
        </groups>
        <classes>
            <class name="CalculatorTest" />
        </classes>
    </test>
</suite>